@font-face {
    font-family: 'Comfortaa-VariableFont_wght';
    src: url('font/Comfortaa-VariableFont_wght.ttf') format("truetype");
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa-VariableFont_wght';
    text-decoration: none;
}
body{
    background-image: url(img/dotted.svg);
    color: #242324;
    padding: 0 10px;
}
.title-container{
    max-width: 1500px;
    margin: 0 auto;
    width: 100%;
}
h1{
    margin-top: 20px;
    font-size: 1.2em;
}
.contain {
    max-width: 800px;
    width: 100%;
    margin: 10em auto;
}
p{
    font-size:2em;
    line-height: 1.5em;
    margin: 50px 0;
}
p span{
    color: #4FB08D;
    
}
.rs{
    display: flex;
    gap:20px;
    
}

svg:hover path{
    stroke: #4FB08D;
}
@media only screen and (max-width: 800px) {
    .contain{
        margin: 5em auto;
    }
    p {  
    font-size: 1.5em;
    }
  }


