@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities{

  .text-gradient{
    background: -webkit-linear-gradient(#72AFD3, #37ECBA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

}
@font-face {
    font-family: Josephin;
    src: url("/assets/fonts/JosefinSans-VariableFont_wght.ttf");
    font-display: swap;
}

body{
    background-image:url("/assets/images/dot.svg");
    background-repeat: repeat;
    @apply bg-background font-main;
}

.hover-gradient:hover{
    background: -webkit-linear-gradient(#72AFD3, #37ECBA);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.bg-gradient{
  background: linear-gradient(45deg, #72AFD3 -0.03%, #37ECBA 100.03%);
  @apply p-[2px];
}
