---
import Button from './Button.astro';
const {data} = Astro.props
---

<section id="contact" class="w-full py-24 mx-auto mt-48 mb-48 bg-gray-dark rounded-2xl max-w-8xl">
   <div class="p-[2px] bg-gradient rounded-2xl max-w-6xl mx-auto">
    <form action="" class="w-full h-full p-12 bg-[#151515] rounded-2xl">
        <h2 class="mb-6 text-3xl font-semibold">Me contacter</h2>
        <div class="text-xl ">
            Bonjour, je m'appelle <input class="px-5 py-2 placeholder:leading-[186%] bg-gray-dark rounded-2xl placeholder:text-gray-normal" placeholder="Nom Prenom" type="text"> et je suis souhaite

            <select class="px-5 py-2 bg-gray-dark rounded-2xl placeholder:text-gray-normal"  name="services" id="services-select">
                <option value="">Selectionnez le service</option>
                {data.contactFormServices.map(option => (
                    <option value={option.element}>{option.element}</option>
                ))}
            </select>
        </div>
        
        <p class="my-6 text-xl">Vous pouvez me recontactez à <input placeholder="nom.prenom@gmail.com"  class="px-5 py-2 placeholder:leading-[186%] bg-gray-dark rounded-2xl placeholder:text-gray-normal" type="email">! </p>
        <Button>Envoyer mon message</Button>
    </form>
   </div>
</section>