<footer>
    <ul class="flex justify-between w-full mx-auto mb-20 max-w-8xl">
        <li class="text-gray">
            Galand Tristan
        </li>
        <li  class="text-gray">
            galand@tuta.io / Développé par <a href="https://geets.dev" target="_blank">Benjamin Geets</a>
        </li>
        <li  class="text-gray">
            &copy; {new Date().getFullYear() } Galand Tristan 
        </li>
    </ul>
</footer>