---
    import { Markdown } from 'astro/components';
const {text,hand}= Astro.props
---
<section class="w-full max-w-4xl mx-auto text-white min-h-[80vh] flex justify-center flex-col gap-7 px-4 lg:px-0">
    <figure>
        <img src={hand.url} alt="">
    </figure>
    <Markdown content={text}/>
</section>

<style>
    section h1{
        @apply text-4xl md:text-5xl font-bold;
    }
    section h1 strong{
         background: -webkit-linear-gradient(#72AFD3, #37ECBA);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    section p{
        @apply text-lg;
    }
</style>