---
const {projet} = Astro.props

const url = new URL(Astro.canonicalURL)
---
<div class="relative grid mx-auto mb-12 overflow-hidden transition md:mb-24 lg:grid-cols-3 max-w-8xl bg-gray-dark rounded-2xl group">
    <figure class="col-span-2 overflow-hidden aspect-[10/6] lg:aspect-auto  lg:h-[37.5rem]">
        <img class="object-cover object-left w-full h-full transition group-hover:scale-110" src={projet.mockup.url} alt="">
    </figure>
    <div class="z-10 flex flex-col w-full h-full p-5 lg:p-10 bg-gray-dark">
        <figure>
            <img src={projet.icone.url} alt="">
        </figure>
        <p class="text-2xl font-semibold lg:text-3xl mt-11">
            {projet.description}
        </p>
        <div class="items-center justify-between hidden mt-auto lg:flex">
             <a class="block text-2xl font-bold transition hover-gradient before:absolute before:inset-0 text-gray"  href={url.host + "/" + projet.slug}>Voir le projet</a>      
            <svg xmlns="http://www.w3.org/2000/svg" class="stroke-gray" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <polyline points="9 6 15 12 9 18" />
            </svg>
        </div>

    </div>
</div>
