body{
    font-family: Arial, Helvetica, sans-serif;
}
@font-face {
    font-family: "Barlow-Regular";
    src: url("/Barlow-Regular.ttf")
}

.custom-font{
    font-family: "Barlow-Regular";
}

img{
    border-radius: 5px;
}


/* Gestion du markdown */
article p{
    margin: 10px 0;
}
article p img{
    width: 100%;
    margin:10px 0;
}
article iframe{
    max-width: 100% ;
    margin:auto;
}
article p a{
    color:#78E4CA;
}
article h1{
    font-size:2em;
    margin: 20px 0px;
}
article h2{
    font-size:1.7em;
    margin: 15px 0;
}