/* Write your global styles here, in PostCSS syntax */
@tailwind base;

@font-face{
    font-family: "Barlow-Regular";
    src: url("/Barlow-Regular.ttf");
    font-display: swap;
}

@layer base {
    body{
        @apply bg-black
    }
    .markdown{
        @apply font-barlow
    }
    .markdown a{
        @apply text-orange
    }
    .markdown h1{
        @apply text-4xl my-6
    }
    .markdown h2{
        @apply text-3xl my-6
    }
    .markdown h3{
        @apply text-3xl my-6
    }
    .markdown p{
        @apply my-2
    }
    .markdown img{
        @apply my-4
    }
    .markdown img{
        @apply rounded-md mx-auto
    }
}

@tailwind components;
@tailwind utilities
